RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"

# Custom error page
ErrorDocument 404 /error-page.php	

# Clean URLs rewrite rules
RewriteRule ^home$ index.php [L,NC]
RewriteRule ^about-us$ about.php [L,NC]
RewriteRule ^technologies$ technologies.php [L,NC]
RewriteRule ^service$ services-main.php [L,NC]
RewriteRule ^industries$ industries.php [L,NC]
RewriteRule ^contact-us$ contact-us.php [L,NC]

# ServicesPage URLs
RewriteRule ^custom-software-development$ custom-software-development.php [L,NC]
RewriteRule ^work-flow-automation$ work-flow-automation.php [L,NC]
RewriteRule ^crm-and-erp-development$ crm-and-erp-development.php [L,NC]
RewriteRule ^web-development$ web-development.php [L,NC]
RewriteRule ^mobile-application-development$ mobile-application-development.php [L,NC]
RewriteRule ^ui-ux-design$ ui-ux-design.php [L,NC]
RewriteRule ^hire-dedicated-developers$ hire-dedicated-developers.php [L,NC]
RewriteRule ^it-consulting$ it-consulting.php [L,NC]

# Industries URLs
RewriteRule ^hospitality-industry$ hospitality-industry.php [L,NC]
RewriteRule ^retail-and-ecommerce-solution$ retail-and-ecommerce-solution.php [L,NC]
RewriteRule ^news-and-entertainment$ news-and-entertainment.php [L,NC]
RewriteRule ^production-and-service-assurance$ production-and-service-assurance.php [L,NC]
RewriteRule ^telecommunication-media$ telecommunication-media.php [L,NC]
