/* 1024 screen size */
@media (max-width: 1035px) {
    .css-hj4xil {
        flex-basis: 41.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 41.6667%;
    }
    .css-dbmn0s {
        flex-basis: 58.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 58.3333%;
    }
    .css-14ipkzi {
        flex-basis: 33.3333%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 33.3333%;
    }
    .css-1tz8m30{
        display: flex;
        justify-content: center;
    }
    .MuiCard-root.service-card {
        height: 100%;
        max-height: 100%;
    }
    .css-17zkhbb {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0px;
    }
  }
  
/* 768 screen size */
@media (max-width: 790px) {
    .css-dbmn0s {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .css-hj4xil {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .css-1tz8m30 {
      display: flex;
      justify-content: center;
    }
    .counter ul {
        display: flex;
        justify-content: center;
    }
    .MuiCard-root.service-card {
        max-height: 100%;
    }
    .outer-card {
        border-radius: 0px;
    }
    .css-k4xlog {
        padding-left: 40px;
        padding-right: 40px;
    }
    .css-8ipg8 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.25px;
    }
    .css-1b7jm6v {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .MuiCard-root.service-card {
        max-height: 100%;
    }
    .css-14ipkzi {
        flex-basis: 50%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 50%;
    }
    .request-proposal ul {
        flex-direction: column;
    }
    .css-mb90x6 > .MuiGrid-item {
        padding-left: 40px;
    }
    .css-1oaod6a {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .css-mb90x6 {
        width: calc(100% + 40px);
        margin-left: -40px;
    }
    .css-mb90x6 {
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
        width: 100%;
    }
    .css-1gpftb1 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.25px;
    }
    .css-3sq53o {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .css-17zkhbb {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0px;
    }
    .css-16rxbyr {
        width: calc(100% + 24px);
        margin-left: -24px;
    }
    .css-16rxbyr {
        margin-top: -24px;
    }
    .css-18xehxy {
         flex-basis: 50% !important; 
        -webkit-box-flex: 0;
        flex-grow: 0;
         max-width: 50% !important; 
    }
    .request-proposal .oval-right{
        width: 26% !important;
    }
    .request-proposal .oval-left{
        width: 30% !important; 
    }
    .service-details-content .css-1tz8m30{
        display: flex;
        flex-direction: column-reverse;
    }
    .service-details-content .Wireframing-Prototyping{
        display: flex;
        flex-direction: row-reverse;
    }
    .service-details-content .Usability-Testing{
        display: flex;
        flex-direction: row-reverse;
    }
    .visit-our-portfolio img.section-img{
        width: 568px !important;
    }
    .visit-our-portfolio img.oval-one {
        top: -122px;
        width: 26% !important;
    }
    .visit-our-portfolio img.oval-two{
        width: 29% !important;
    }
    .visit-our-portfolio img.oval-three{
        width: 30% !important;
    }
    .css-1gpftb1 {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.25px;
    }
    .outer-card {
        margin: 0;
    }
    .css-hrdle6 {
        width: calc(100% + 24px);
        margin-left: -24px;
    }
    .css-4lx7hw {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .flex-direction-col{
        display: flex;
    flex-direction: column-reverse;
    }
    .banner.hero-banner h2 {
        padding-bottom: 24px;
    }
  }
  
/* 425 screen size */
@media (max-width: 435px) {
    .consider-hiring-developer img{
        width: 50% !important;
    }
    .pricing-methods .MuiCard-root .top {
        padding: 24px;
    }
    .css-stzg0q {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
    }
    .css-xgs5wp > .MuiGrid-item {
        padding-top: 40px;
    }
    header ul li .submenu {
        padding: 19px 0 0 !important;
    }
    .css-ltxmnd {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
    .contact-us-form-wrapper .css-xgs5wp{
        display: flex;
        flex-direction: column-reverse;
    }
    .css-dbmn0s {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .slider-controls {
        margin-top: 0 !important;
    }
    .css-hj4xil {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .css-8ipg8 {
        font-size: 30px;
        line-height: 44px;
        letter-spacing: 0.04px;
    }
    .outer-card {
        margin: 0;
    }
    .request-proposal {
        padding: 48px;
    }
    .request-proposal {
        padding-left: 24px;
        padding-right: 24px;
    }
    .request-proposal .oval-right {
        position: absolute;
        top: -82px;
        right: -67px;
        width: 206px !important;
    }
    .request-proposal .oval-left {
        position: absolute;
        bottom: 49px;
        left: -132px;
        width: 200px !important;
    }
    .css-1b7jm6v {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .counter ul{
        display: flex;
        justify-content: center;
    }
    .css-mb90x6{
        width: calc(100% + 32px);
        margin-left: -32px;
        margin-top: -32px;
        box-sizing: border-box;
        display: flex;
        flex-flow: wrap;
    }
    .desktop-view-show {
        display: none !important;
      }
    .phone-view-show {
        display: block !important;
      }
    .slider-controls {
        margin-top: 0;
    }
    .vertical-counter {
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }
    .vertical-counter ul {
        flex-basis: calc(100% - 16px);
        max-width: calc(100% - 16px);
    }
    .vertical-counter ul:nth-child(2) {
        flex-direction: row;
    }
    .css-ldtpqf {
        width: calc(100% + 5px);
    }
    .css-ldtpqf{
        display: flex;
        flex-direction: column-reverse;
    }
    .css-1gpftb1 {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.04px;
    }
    .css-3sq53o {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .mb-9 {
        margin-bottom: 47px !important;
    }
    /* .css-1tz8m30{
        display: flex !important;
        flex-flow: column-reverse !important;
    } */
    .css-i3gkby {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
    .css-16rxbyr {
        width: calc(100% + 3px);
        margin-left: 0;
    }
    .css-16rxbyr {
        margin-top: -16px;
    }
    .MuiCard-root.service-card .MuiCardContent-root {
        padding: 24px 24px 8px;
    }
    
    .css-18xehxy {
        flex-basis: 100% !important;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100% !important;
    }
    .css-16rxbyr > .MuiGrid-item {
        padding-left: 0;
        padding-top: 20px;
    }
    .css-pe15c2 {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.25px;
    }
    .visit-our-portfolio img.section-img{
        width: 300px !important;
    }
    .visit-our-portfolio img.oval-two {
        top: 289px;
        left: -157px;
        width: 218px !important;
    }
    .visit-our-portfolio img.oval-three {
        bottom: -19%;
        right: -23%;
        width: 49% !important;
    }
    .css-1pdy5ci {
        flex-basis: 100%;
        max-width: 100%;
    }
    .css-1b7jm6v {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .banner.service-details-banner {
        margin-bottom: 64px;
        padding-top: 76px;
    }
    .css-1b7jm6v {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .consider-hiring-developer h5 {
        font-size: 24px;
        letter-spacing: .1px;
        line-height: 32px;
        padding-bottom: 16px !important;
    }
    .consider-hiring-developer {
        padding: 30px !important;
    }
    .css-64t9a5 {
        font-size: 30px;
        line-height: 48px;
        letter-spacing: 0.25px;
    }
    .outer-card {
        border-radius: 0;
    }
    .css-4lx7hw {
        flex-basis: 100%;
        max-width: 100%;
    }
    .css-1b7jm6v {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.25px;
    }
    .css-1gpftb1 {
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.04px;
    }
    .css-17zkhbb {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.25px;
    }
    .pb-7 {
        padding-bottom: 12px !important;
    }
    .flex-direction-col{
        display: flex;
        flex-direction: column-reverse;
    }
    .solution-impact img.left{
        width: 30%;
    }
    .solution-impact img.right{
        width: 30%;
    }
    .css-xgs5wp {
        width: calc(100% + -10px) !important;
        margin-left: 0px !important;
    }
    .css-k4xlog {
        padding-left: 16px;
        padding-right: 16px;
    }
    .css-14ipkzi {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    .css-ldtpqf > .MuiGrid-item {
        padding-top: 32px;
    }
    
    .service-details-content .css-1t9tuk4{
        font-size: 19px;
    }
    .Wireframing-Prototyping{
        display: flex !important;
        flex-flow: column !important;
    }
    .Usability-Testing{
        display: flex !important;
        flex-flow: column !important;
    }
    .accordion-button {
        gap: 5px;
    }
    .accordion-button {
        font-size: 18px;
    }
    .css-fnn40u {
        font-size: 20px !important;
        line-height: 32px !important;
        letter-spacing: 0.15px !important;
    }
    header ul .has-submenu{
        margin-bottom: 0 !important;
    }
    /* header ul li {
        margin-top: 12px;
    } */
    .CustomSoftwareDevelopment{
        margin-top: 15px;
    }
}

/* Default styles */
.desktop-view-show {
    display: block;
  }
  
  .phone-view-show {
    display: none;
  }
  .css-1tz8m30 {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -32px;
    width: calc(100% + 32px);
    margin-left: -32px;
}
.css-isbt42 {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
}
.css-isbt42 > .MuiGrid-item {
    padding-left: 16px;
}
.css-isbt42 > .MuiGrid-item {
    padding-top: 16px;
}
.css-mfstbn {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.service-details-banner.bg-light-blue {
    background: #def4ff;
}
.css-xgs5wp {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -40px;
    width: calc(100% + 40px);
    margin-left: -40px;
}
.css-1h77wgb {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
}
.css-1h77wgb > .MuiGrid-item {
    padding-left: 24px;
}
.css-1h77wgb > .MuiGrid-item {
    padding-top: 24px;
}
.css-ltxmnd {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}
.css-m6aug5 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    vertical-align: top;
    width: 100%;
    font-family: Poppins, sans-serif;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
}
.css-91edt0 {
    font-weight: 400;
    display: block;
    transform-origin: left top;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    pointer-events: none;
    color: rgb(131, 131, 131);
    transform: translate(16px, 16px) scale(1);
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
}
.css-1yhpq3q {
    font-weight: 400;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-family: Poppins, sans-serif;
    background-color: rgb(255, 255, 255);
    padding-right: 0px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: rgb(26, 26, 26);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 6px;
}
.css-1yhpq3q::before {
    border: 1px solid rgb(225, 231, 236);
    border-radius: 8px;
    top: 0px;
    transition: none;
}
.css-1yhpq3q::before {
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    pointer-events: none;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.css-1u74i6w {
    font: inherit;
    letter-spacing: inherit;
    border: 0px;
    background: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    height: 60px;
    padding: 22px 0px 0px 16px;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}
.css-r2md6h {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 8px;
    margin-right: 16px;
}
.css-1yhpq3q::after {
    border: 2px solid rgb(4, 135, 255);
    border-radius: 8px;
    top: 0px;
    transition: none;
}
.css-1yhpq3q::after {
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    pointer-events: none;
    border-bottom: 2px solid rgb(4, 135, 255);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
.css-16800kg:hover {
    background-color: rgb(255, 255, 255);
}
.css-16800kg:hover:not(.Mui-disabled, .Mui-error)::before {
    border: 1px solid rgb(4, 135, 255);
}
.css-16800kg::before {
    border: 1px solid rgb(225, 231, 236);
    border-radius: 8px;
    top: 0px;
    transition: none;
}
.css-16800kg::before {
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    pointer-events: none;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.css-16800kg::after {
    border: 2px solid rgb(4, 135, 255);
    border-radius: 8px;
    top: 0px;
    transition: none;
}
.css-16800kg::after {
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    pointer-events: none;
    border-bottom: 2px solid rgb(4, 135, 255);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
.css-gtx6gk {
    font: inherit;
    letter-spacing: inherit;
    border: 0px;
    background: none;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    height: 60px;
    padding: 22px 0px 0px 16px;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}
.css-th5e90 {
    font-weight: 400;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-family: Poppins, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: rgb(26, 26, 26);
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);
    padding: 8px 12px;
    border-radius: 6px;
}
.css-th5e90::before {
    border: 1px solid rgb(225, 231, 236);
    border-radius: 8px;
    top: 0px;
    transition: none;
}
.css-th5e90::before {
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    pointer-events: none;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-1kbxtr1 {
    letter-spacing: inherit;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    resize: none;
    height: 60px;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
    font: inherit;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: none;
    margin: 0px;
    padding: 22px 0px 0px 16px;
}
.css-1kbxtr1.MuiInputBase-inputMultiline {
    padding-top: 0px;
    padding-left: 4px;
}
.css-mfstbn {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
}
.file-upload {
    background: #e6f3ff;
    border: 2px dashed #9bcfff;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    width: 100%;
}
.file-upload>img {
    display: block;
    height: 40px;
    margin: 0 auto 12px;
    width: 40px;
}
.file-upload p {
    color: #1a1a1a;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .25px;
    line-height: 22px;
    padding-bottom: 4px;
    text-align: center;
}
.file-upload span {
    color: #4d4d4d;
    display: block;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .15px;
    line-height: 22px;
    text-align: center;
}
.file-upload input {
    height: 0;
    opacity: 0;
    position: absolute;
    right: -999px;
    visibility: 0;
    width: 0;
}
.servicer-slider .slick-slide{
    outline: none; 
    width: 411px !important;
}
.css-fnn40u {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.industry-solutions .subtext {
    color: rgb(77, 77, 77);
}
.css-ckkn3t {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    text-align: center;
}
.css-1yhpq3q:hover:not(.Mui-disabled, .Mui-error)::before {
    border: 1px solid rgb(4, 135, 255);
}
.css-1yhpq3q::after {
    top: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(4, 135, 255);
    border-image: initial;
    border-radius: 8px;
    transition: none;
}
.css-1yhpq3q::after {
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    pointer-events: none;
    border-bottom: 2px solid rgb(4, 135, 255);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
.css-1yhpq3q::before {
    border: 1px solid rgb(225, 231, 236);
    border-radius: 8px;
    top: 0px;
    transition: none;
}

.css-1yhpq3q::before {
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    pointer-events: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
